.wrapItem {
  display: flex;
  /* width: 600px; */
  width: 412px;
}
.innerWrap {
  width: 100%;
  /* width: calc(100% - 10px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  /* border: 2px solid black; */
  border: none;
  box-shadow: 2px 2px 2px 2px grey;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text {
  /* max-width: 440px; */
  max-width: 250px;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: inherit;
  }
  &::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 5px;
  }
}

.textBtn {
}

.btnBox {
  display: flex;
  gap: 10px;
}
